@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link{
    @apply md:hover:text-black md:text-white text-ds_blue;
}
.btn{
    @apply rounded-full uppercase font-bold tracking-wider
}
.center{
    @apply flex items-center justify-center;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 32px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 32px solid #fff;
    position: absolute;
    right: 0;
    top: -1.5rem;
}




